extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Christopher Jaeger
        p.lead.text-light
          | Full-Stack JavaScript Developer
        .portfolio-bio
          p
            | Passionate about programming, I've been scripting almost my entire life. Recently became a Full-Stack Javascript developer as I continue on in my life-long journey of improving my craft.
            br
            br
            | My most recent experience was as Project Manager and Developer at a small studio called HeyCarson where I helped to manage the production of their in-house application, CarsonDash, a support desk for Shopify clients. I also sidelined as a developer to assist with projects and problem-solving JavaScript and Liquid oriented Shopify projects.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li Express
          li Pug
          li Liquid
          li SQL
          li HTML
          li CSS 
        h6 Contact Info
        ul
          li contact@christopherjaeger.com
        a.button.expanded(href='https://github.com/Rasamune') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  